<footer>
    <div id="footer-main-content-container">
        <div id="footer-logo-section">
            <h2>Logo</h2>
            <p>
            Our vision is to provide convenience and help increase your 
            sales.
            </p>
        </div>
        <div id="footer-nav-section">
            <div class="flex justify-content-center">
                <div class="flex flex-column">
                    <h3>About</h3>
                    <ul>
                        <li><a class="link-black" href="#">How it works</a></li>
                        <li><a class="link-black" href="#">Featured</a></li>
                        <li><a class="link-black" href="#">Partnership</a></li>
                        <li><a class="link-black" href="#">Bussiness Relation</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-content-center">
                <div class="flex flex-column">
                    <h3>Community</h3>
                    <ul>
                        <li><a class="link-black" href="#">How it works</a></li>
                        <li><a class="link-black" href="#">Featured</a></li>
                        <li><a class="link-black" href="#">Partnership</a></li>
                        <li><a class="link-black" href="#">Bussiness Relation</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-content-center">
                <div class="flex flex-column">
                    <h3>Socials</h3>
                    <ul>
                        <li><a class="link-black" href="#">How it works</a></li>
                        <li><a class="link-black" href="#">Featured</a></li>
                        <li><a class="link-black" href="#">Partnership</a></li>
                        <li><a class="link-black" href="#">Bussiness Relation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-secondary-content-container">
        <h5>2023 Auto Fast. All rights reserved</h5>
        <div id="privacy-policy" class="flex">
            <h5>Privacy & Policy</h5>
            <h5>Terms & Condition</h5>
        </div>
    </div>
</footer>
