<header>
    <div class="logo"><h2>Logo</h2></div>
    <nav>
        <button class="mobile-nav-toggle" data-visible="false">
            <svg class="hamburger" width="25" height="25" viewBox="0 0 100 100">
                <rect class="hamburger-top" width="80" height="20" x="10" y="10" rx="5"/>
                <rect class="hamburger-middle" width="80" height="20" x="10" y="40" rx="5"/>
                <rect class="hamburger-bottom" width="80" height="20" x="10" y="70" rx="5"/>
            </svg>
        </button>
        <ul id="primary-navigation" data-visible="false">
            <li>
                <a class="link-white" href="#">Home</a>
            </li>
            <li>
                <a class="link-white" href="#how-it-works-section">How it works</a>
            </li>
            <li>
                <a class="link-white" href="#deals-section">Rental details</a>
            </li>
            <li>
                <a class="link-white" href="#why-choose-us-section">Why choose us</a>
            </li>
            <li>
                <a class="link-white" href="#comments-cards-container">Testimonial</a>
            </li>
            <div class="flex flex-sm-column align-items-lm-center">
                <span class="vertical-line display-sm-none"></span>
                <li class="margin-lm-h-1rem margin-sm-b-1rem">
                    <a class="link-white" href="/auth/register">Register</a>
                </li>
                <li>
                    <a class="button" href="/auth/login">Login</a>
                </li>
            </div>
        </ul>
    </nav>
</header>
