<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/menu-toggle.js" type="module"></script>
    </head>
    <body>

        <%- include('partials/auth-header') %>

        <main class="flex justify-content-center background-white">
            <div class="width-max-50ch flex flex-column align-items-center margin-2rem padding-2rem background-grey border-radius-1rem">
                <div>
                    <h1>Login</h1>
                    <form method="post">
                        <div class="margin-v-1rem">
                            <label for="username"><h2>Username:</h2></label>
                            <input name="username" type="text" placeholder="username" required />
                        </div>
                        <div class="margin-v-1rem">
                            <label for="password"><h2>Password:</h2></label>
                            <input name="password" type="password" placeholder="password" required />
                        </div>
                        <div class="flex flex-space-between align-items-center">
                            <a class="link-black" href="/auth/register">Register</a>
                            <input class="button" type="submit" value="Login"/>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <%- include('partials/footer') %>

    </body>
</html>
